body{
  background-image: url(https://s.hdnux.com/photos/01/13/77/35/19920730/3/2400x0.jpg);
  background-attachment:fixed;
  background-position: center;
  height: 100vh;
}

.App {
  display: grid;
  grid-template: 
  'Header'
  'Body'
  'Footer'
  ;

  grid-template-columns: auto;
  grid-template-rows: 70px auto 50px ;

  height: 100vh;
}

.Header {
display: grid;
}

.Body {
  display: grid;
  border-radius: 15px;
  background-image: linear-gradient(to right, blue ,  rgb(126, 126, 216));
  width: 500px;
  height: 50px;
}

.Footer {
  display: grid;
}

.title {
  display: grid;
  display: flex;
  color: rgb(234, 238, 228);
  grid-area: Header;
  border-radius: 15px;
  background-image: linear-gradient(to right, blue ,  rgb(126, 126, 216));
  width: 500px;
  height: 50px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;

}

.display{
  display: grid;
  display: flex;
  border-radius: 15px;
  background-image: linear-gradient(to right, blue ,  rgb(126, 126, 216));
  width: 500px;
  height: 50px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  color: greenyellow;
  text-size-adjust: 18px;
}